extends layout

block content
  div.container
      h1 Create Account
      p=accountError
      form.form-group(name="loginForm", method="post", action='/newAccount')
            div.form-group
                  label username
                  input.form-control(type="text", name="username")
            div.form-group
                  label email
                  input.form-control(type="text", name="email")
            div.form-group
                  label password
                  input.form-control(type="password", name="password")
             button.btn.btn-default(type='submit') Create
      a(href='/')
            button.btn.btn-default(type="button") Back
