extends layout

block content
  h1 Welcome to you playlists
  for song in playingNow
    div
      p= song.name 
      
      <iframe src="#{song.urlLink}" frameborder="0"></iframe>
  a(href='/playlist')
     button(type="button") Back

  