extends layout

block content
  h1 Welcome to you playlists
  for playList in playlists
      - var foo =playList.playId
      p= playList.name 
      p= foo
    //a(href='/listen/#{playlist.playId}') Listen
  a(href='/createNewPlaylist')
     button(type="button") Create new playlist
  