extends layout

block content
  h1 Welcome to you playlists
  for playList in playlists
    p= playList.name
    p= playList.playId
    //a(href='/listen/#{playlist.playId}') Listen
  a(href='/createNewPlaylist')
     button(type="button") Create new playlist
  