extends layout

block content
  h1 Welcome to you playlists
  for playList in playlists
    div
      - var playlistId =playList.playId
      p= playList.name 
      a(href='/listen/#{playlistId}') Listen
      a(href='/deletePlaylist/#{playlistId}') delete
  a(href='/createNewPlaylist')
     button(type="button") Create new playlist

  